@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;1,100;1,300&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    cursor: default;
}

body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: linear-gradient(90deg, #C7C5F4, #776BCC);
}

.container{
    max-width: 700px;
    width: 100%;
    background: #fff;
    padding: 25px 30px;
    border-radius: 5px;
}

.container .title{
    font-weight: 500;
    font-size: 25px;
    position: relative;
}

.container .title::before{
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background: linear-gradient(90deg, #C7C5F4, #776BCC);
}

.container form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

form .user-details .input-box{
    width: calc(100% / 2 - 20px);
    margin: 20px 0 12px 0;
}

.user-details .input-box input{
    height: 45px;
    width: 100%;
}

.user-details .input-box details{
    font-weight: 500;
    margin-bottom: 5px;
    display: block;
}