@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;1,100;1,300&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    cursor: default;
}

body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: linear-gradient(90deg, #C7C5F4, #776BCC);
}

.container{
    max-width: 700px;
    width: 100%;
    background: #fff;
    padding: 25px 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px #D1BAFF;
}

.container .title{
    font-weight: 500;
    font-size: 25px;
    position: relative;
}

.container .title::before{
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background: linear-gradient(90deg, #C7C5F4, #776BCC);
}

.container form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}

form .user-details .input-box{
    width: calc(100% / 2 - 20px);
    margin-bottom: 15px;
}

.user-details .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 12px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.user-details .input-box details{
    font-weight: 500;
    margin-bottom: 5px;
    display: block;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid{
    border-color: #776BCC;

}

form .check-categories{
    font-size: 16px;
    font-weight: 500;
    width: 80%;
    justify-content: space-between;
    margin: 16px;
}

form .button{
    height: 30px;
    margin: 45px 0;
}

form .button input{
    height: 80%;
    width: 100%;
    outline: none;
    color: #fff;
    border: none;
    background: linear-gradient(135deg, #C7C5F4, #776BCC);
    font-size:16px;
    font-weight: 300;
    border-radius: 5px;
    letter-spacing: 1px;
}

form . button input:hover{
    background: linear-gradient(-135deg, #C7C5F4, #776BCC);
}

@media (max-width: 584px){
    .container{
        max-width: 100%;
    }
    form .user-details .input-box{
        width: 100%;
        margin-bottom: 15px;
    }
    form .check-categories{
        width: 100%;
    }
    .container form .user-details{
        max-height: 300px;
        overflow-y: scroll;
    }
}