:root{
    font-size: 100%;
    font-size: 16px;
    line-height: 1.5;
    --primary-color: #350259;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

h1{
    font-size: 2.25rem;
    font-weight: 700;
}

a{
    text-decoration: #D1BAFF;
    color: var(--primary-color);
}

a:hover{
    text-decoration: underline;
}

.small{
    font-size: 80%;
    text-align: center;
}

.split-screen{
    display: flex;
    flex-direction: column;
}

.left-side{
    height: 200px;
}

.left-side, .right-side{
    display: flex;
    justify-content: center;
    align-items: center;
}

/*.left-side{*/
/*    background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.5)), url('https://www.pexels.com/photo/clouds-and-mountain-552789/');*/
/*    background-size: cover;*/
/*}*/

.left-side .copy{
    color: #fff;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.left-side p{
    font-weight: 400;
}

.right-side .copy{
    color: black;
    text-align: center;
}

.right-side .copy p{
    margin: 1.5rem 0;
    font-size: 0.875rem;
}

.right-side form{
    width: 328px;
}

form input[type="email"],
form input[type="password"] {
    display: block;
    width: 100%;
    box-sizing: border-box;
    border-radius: 8px;
    border: 1px solid #320259;
    padding: 1em;
    font-size: 0.875rem;
}

label{
    display: block;
    margin-bottom: 0.5rem;
    font-size: 0.75rem;
}

.input-container .password{
    position: relative;
}

.input-container .password{
    position: absolute;
    top: 42px;
    right: 16px;
}